/*admin login*/
.login-form{padding:10px;margin-top:10%;border:lightgrey 1px solid;background-color: #fff}
.login-form h1{font-size:20px;font-weight:bold}
.login-form form{margin-top:20px;}
.login-form input{width:80%;}
.extra-box{padding: 15px;background-color: rgb(242, 242, 242)}
.blockgray{padding:10px 0;background-color: rgb(239, 239, 239)}